body{
width: 1000px;
margin-left: auto;
margin-right: auto;
/*background: #F0F0F0 url(../images/stripe.png) repeat;*/
background: #000000 url(../images/canevas/background.jpg);
font-family: sans-serif;
font-size:11pt;
}

#top{
width: 980px;
height: 35px;
margin-left: auto;
margin-right: auto;
padding: 10px;
/*background: #F0F0F0 url(../images/stripe_footer.png) repeat;*/
font-family: sans-serif;
font-size: 10px;
display:block;
background-image: url(../images/canevas/menu_top_bckg.png);
}

#logo{
    float:left;
    margin-right: 5px;
    margin-top: -5px;
	margin-left: -10px;
}

#menu_top{
float:left;
}

#footer{
width: 980px;
height: 26px;
line-height: 26px;
valign: middle;
margin: 10px auto 0 auto;
padding: 10px;
background-image: url(../images/canevas/menu_top_bckg.png);
font-family: sans-serif;
font-size: 10px;
color: #F0F0F0;
}


#div_last_items{
    background-color: #FFF0A4;
    padding: 5px;
    margin-top: 5px;
    font-siez: 12px;
}

#main{
padding: 10px;
margin-top: 10px;
min-height: 250px;
background:white url(../images/canevas/logo_home.png) 50% 50% no-repeat;
}

#main_simple{
margin-top: 10px;
}

#title {
  font: bold 270%/100% "Lucida Grande";
  color: #464646;
  float:left;
  margin-top:3px;
}

td.id_th{
font-weight:bold;
width: 100px;
}

td.id_val{
margin-left: 10px;
}

div#global {
position: relative;
}
div#header {
color: #fff;
}
div#center {
padding-bottom: 50px;
background-color:white;
display: block;
}
div#content {
float:left;
width:660px;
margin-left:10px;

}


thead th{
font-size: 13px;
font-weight: bold;
background: #344151;
padding: 4px 10px 4px 10px;
font-family: arial;
color: #FFFFFF;
}
tr.ligne0 td {
background-color:#FFFFFF;
border-bottom:1px solid #CCCCCC;
font-family: arial;
font-size:11px;
}
tr.ligne1 td {
background-color:#F0F0F0;
border-bottom:1px solid #CCCCCC;
font-family: arial;
font-size:11px;
}

#div_loading {
  position:absolute;
  left: 50%;
  top: 40%;
}

a:link {text-decoration: none; color:#000000;}
a:visited {text-decoration: none; color:#000000;}
a:active {text-decoration: none; color:#000000;}
/*a:hover {text-decoration: underline; color:#000000;}*/
a img {border:  none ;}
a img {border:  none ;}

.input_text {
margin-bottom:10px;
width:95%;
padding: 4px;
}

.label_cpm{
display:block;
}

.form_label{
display:block;
width:180px;
float:left;
}

.form_label_500{
display:block;
width:500px;
float:left;
}

.form_label_150{
display:block;
width:150px;
float:left;
}

.form_label_120{
display:block;
width:120px;
float:left;
}

.form_label_100{
display:block;
width:100px;
float:left;
}

.form_label_80{
display:block;
width:80px;
float:left;
}

.td_title{
font-weight:bold;
font-family: serif;
}

ul{
list-style-type:none;
}
/*
li{
cursor: pointer;
}*/

.error{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    font-weight: bold;
    background: url(../images/error.png) no-repeat 0 0;
}

.button_menu { outline: 0; margin:0; padding: 1px; text-decoration:none;  !important; cursor:pointer; position: relative; text-align: center; }

.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; z-index:5000;}
.dropdown a, .dropdown a:visited { text-decoration:none; outline:none;}
.dropdown dt {background: url(../images/arrow.png) no-repeat scroll right center; display:block; padding-right:20px; cursor:pointer;}
.dropdown dd ul { background:#e4dfcb none repeat scroll 0 0; border:1px solid #d4ca9a; color:#C5C0B0; display:none;
                  left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; min-width:45px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block;}
.dropdown dd ul li a:hover { background-color:#d0c9af;}

.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }

.title {
  font: bold 160%/100% "Lucida Grande";
  color: #464646;
  margin: 3px 0px 10px 0px;
  padding: 10px;
}

.readme{
    font-family: sans-serif;
    font-size: 9px;
    line-height:15px;
    margin-top: 20px;
    height: 150px;
    width:600px;
    float:left;
}

.last_seen_item{
	cursor:pointer;
    font-family: sans-serif;
    font-size: 11px;
	margin-left: 8px;
}

.last_seen_item:hover{
	color:red;
}

.pointer{
	cursor:pointer;
}